node_modules
npm-debug.log
Dockerfile
.dockerignore
.env
.env*
yarn-error.log
.husky
docker-compose*.yml
Dockerfile*
.DS_Store
swagger.yml
test
.dist
.github
.gitignore
.git
.coverage
dist
docs
.vscode
