version: '3.8'

services:
  web3-api:
    build:
      dockerfile: Dockerfile
      context: .
      target: local
    ports:
      - 3005:3005
    volumes:
      - ./:/app
      - node_modules:/app/node_modules  
  
  db:
    image: postgres:latest
    env_file:
      - .env
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
  
  pgadmin:
    container_name: pgadmin4_container
    image: dpage/pgadmin4
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: root
    ports:
      - "5050:80"
    volumes:
      - pgadmin:/var/lib/pgadmin

volumes:
  node_modules:
  db_data:
  pgadmin: